{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleBoun</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-bottom: 50px">
        <h1>View grade average</h1>
        <div class="d-flex justify-content-around" style="margin-top: 20px">
          {% if fail %}
          <div class="error">
            <p>Student doesn't exist or an error has been occured!</p>
          </div>
          {% endif %}

          <form method="GET" action="" style="margin-bottom: 50px">
            {% csrf_token %}

            <label for="course_id">Course ID:</label><br />
            <input
              type="text"
              id="course_id"
              name="course_id"
              required
            /><br /><br />

            <input type="submit" value="Submit" />
          </form>

          {% if success %}
          <table>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Grade Average</th>
            </tr>
            {% for row in results %}
            <tr>
              {% for value in row %}
              <td>{{value}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
          {% endif %}

          <form method="GET" novalidate action="..">
            {% csrf_token %}
            <button
              type="submit"
              style="margin-top: 10px"
              class="btn btn-default"
            >
              return
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
