{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleBoun</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Instructor "{{ name }}"</h1>
      <h2>Operations</h2>
      <div class="row">
        <div class="col-xs-3">
          <a href="listClassrooms">
            <div class="btn btn-default card">list classrooms</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="addCourse">
            <div class="btn btn-default card">add course</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="addPrerequisite">
            <div class="btn btn-default card">add prerequisite</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewCourses">
            <div class="btn btn-default card">view courses</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewCourseStudents">
            <div class="btn btn-default card">view course students</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="updateCourseName">
            <div class="btn btn-default card">update course name</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="giveGrade">
            <div class="btn btn-default card">give grade</div>
          </a>
        </div>
      </div>
      <form method="POST" novalidate action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="margin-top: 10px" class="btn btn-default">
          Logout
        </button>
      </form>
    </div>
  </body>
</html>
