{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleBoun</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Manager "{{ username }}"</h1>
      <h2>Operations</h2>
      <div class="row">
        <div class="col-xs-3">
          <a href="addNewUser">
            <div class="btn btn-default card">add new users</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="deleteStudent">
            <div class="btn btn-default card">delete student</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="updateInstructorTitle">
            <div class="btn btn-default card">update instructor title</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewStudents">
            <div class="btn btn-default card">view students</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewInstructors">
            <div class="btn btn-default card">view instructors</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewGrades">
            <div class="btn btn-default card">view grades</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewInstructorCourses">
            <div class="btn btn-default card">view instructor courses</div>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="viewGradeAverage">
            <div class="btn btn-default card">view grade average</div>
          </a>
        </div>
      </div>
      <form method="POST" novalidate action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="margin-top: 10px" class="btn btn-default">
          Logout
        </button>
      </form>
    </div>
  </body>
</html>
